.App {
  text-align: center;
}

.App-logo {
  height: 180px;
}

.App-header {
  height: 250px;
  padding: 20px;
}

.App-title {
  font-size: 2.5em;
  margin-top: 0;
}

.App-intro {
  font-size: large;
}

.bio {
  font-size: large;
  display: block;
  padding: 15px 20px 40px;
}
.list {
  text-align: left;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
