*,
*:before,
*:after {
  box-sizing: border-box;
}

.app {
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-template-rows: repeat(3, 1fr);
  height: 100vh;
}

aside {
  grid-column: 1;
  grid-row: 1 / 4;
  background-color: #f2f3f7;
}

section {
  grid-column: 2;
  grid-row: 1 / 4;
  overflow-y: scroll;
  padding: 2em;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

nav p {
  margin-top: 7em;
}

nav .nav__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section .bio {
  text-align: center;
}

section .portfolio {
  margin: 2em 0;
  padding: 2em;
  display: flex;
  justify-content: space-around;
}

section .portfolio h1 {
  margin: 0;
}

a {
  text-decoration: none;
}

.App-logo {
  height: 180px;
}

.App-header {
  height: 250px;
  padding: 20px;
}

.App-title {
  font-size: 2.5em;
  margin-top: 0;
}

.App-intro {
  font-size: large;
}
.list {
  text-align: left;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
